* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 17vh;
}

#page1 h1 {
    font-size: 12vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 19vh;
}

#video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1vh;
    position: relative;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: #000000;
    color: aliceblue;
    font-size: 1.3vw;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#page2 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1vw;

}

#page2 .elem {
    height: 100vh;
    width: 30%;


}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 20vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;

        margin-top: 3vh;

    }


    #video-container #play {
        padding: 6vw 5.2vw;

        color: aliceblue;
        font-size: 3.3vw;
        position: fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);

    }

    #page2 {
        height: 100vh;
        width: 100vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 3vw;
        flex-direction: column;

    }

    #page2 .elem {
        height: 100vh;
        width: 30%;

        margin-bottom: 3vw;


    }

    #page2 .elem img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}