* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /*bg colors*/
    --bg-primary-color: #c11818;
    /*text colors*/
    --text-primary-color: #ffffff;
    /*spacing variable*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /*border colors*/
    --border-primary-color: #67c73b;

    /*border radius*/
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --boredr-radius-xl: 16px;
    --border-radius-2xl: 20px;

    --background-fill-color: #7bd03d;
    --background-food-color: #d93b3b;
}




html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Courier New', Courier, monospace;
}

main,
section {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    background: #403ab0;
    gap: var(--space-lg);
}

section .infos {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.info {
    padding: var(--space-sm);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
}

.board {
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.block {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: black;
    border: 1px solid var(--border-primary-color);
}

.fill {
    background-color: var(--background-fill-color);
}

.food {
    background-color: var(--background-food-color);
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #c0747470;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over {
    gap: var(--space-lg);
    padding: var(--space-3xl);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: var(--space-md);
    border: none;
    border-radius: var(--border-radius-md);
    background-color: var(--border-primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.modal .game-over {
    display: none;
}

.head {
    background-color: rgb(0, 0, 0);
}

.fill {
    background-color: rgb(223, 223, 223);
}