 :root{
    --pri:#FFF8EA;
    --sec:#B4846C;
    --tri1:#FCDEC0;
        --tri2:#F7F6E5;
 }
 @font-face {
    font-family: raju;
    src: url(./FrenchyDEMO-Regular.otf);
} 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--sec);
    color: var(--pri);
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
width: 100%;
height: 100%;
}
h1{
    font-family: raju;
    color: var(--pri);
}