 :root{
    --pri:#fffdf8;
    --sec:#d4510a;
    --tri1:#d79c61;
    --tri2:#ece9b6;
    --tri3:black;
 }
 @font-face {
    font-family: raju;
    src: url(./FrenchyDEMO-Regular.otf);
} 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box ; 
    background-color: var(--sec); 
  color: var(--pri);
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
width: 100%;
height: 100%;
}
h1{
    font-family: raju;
   /*  color: var(--pri); */
   color: white;
}
nav{
    position:fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}
section.allelems {
  
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
background-color: var(--sec);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    /* z-index: 12; */
   
}
.elem{
 background-color:var(--tri1);
     /* padding: 30px 40px; */
     border-radius: 20px;
     height: 400px;
     width: 250px;
     border-radius: 10px;
      overflow: hidden; 
     position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.9);
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.elem h2{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 3%;
    right: 5%;
    font-size: 30px;

}
.elem:active{
    transform: scale(0.95);

}

.fullElem{
    height: 100%;
    width: 100%;
    border-color: #beba61;
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;
    z-index: 12;
}
.back{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: #ff0202;
    color: white;
    padding: 10px 12px;
    border-radius: 15px;
    font-size: medium;
    font-weight: normal;
}
.back:active{
    transform: scale(0.95);
}
.todo-list-fullpage{
  display: block;
}
.todo-list-fullpage h2{
    font-size: x-large;
   

}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
   
    /*  background-color: var(--sec); */ 
    color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.todo-list-fullpage .todo-container .addtask{
    width: 33%;
    height: 100%;
    background-color: var(--tri2);
   border-radius: 20px;

}
.todo-list-fullpage .todo-container .alltask{
    width: 65%;
    height: 100%;
  background-color: var(--tri2); 
   border-radius: 20px;
}
.todo-list-fullpage .todo-container .addtask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background-color: var(--tri2);
    border-radius: 20px;
}
.todo-container .addtask form input{
   padding: 10px 20px;
width: 100%;
font-size: 25px;
background-color: var(--tri1);
border-radius: 5px;
border: none;
outline: none;
margin-bottom: 20px;
}
.todo-container .addtask form textarea{
   padding: 10px 20px;
   height: 300px;
width: 100%;
font-size: 25px;
background-color: var(--tri1);
border-radius: 5px;
border: none;
outline: none;
margin-bottom: 20px;
}
.todo-container .addtask form button{
   padding: 10px 20px;
  
width: 100%;
font-size: 25px;
background-color:rgb(100, 41, 12);
border-radius: 5px;
border: none;
outline: none;
margin-bottom: 20px;
}
.todo-container .addtask form button:active{
    transform: scale(0.95);
}
.todo-list-fullpage .todo-container .alltask{
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
        padding: 30px;
        overflow: auto;
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task h5{
  display: flex;
  align-items: center;
    color: black;
background-color: #ffffff00;
    font-size: 30px;
 gap: 10px;
}
/* .task h5 span {
    background-color: rgb(255, 0, 0);
    font-size: 30px;
} */
.task h5 span{
   background-color: red;
    color:black;
    
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 50px;
   /*  gap: 50px; */
     
}
.task h5 span.true{

opacity: 1;
font-size: 20px;
}
.task h5 span.false{
 opacity: 0;
 background-color: transparent;
}

.task button{
    padding: 5px 10px;
    background-color: rgb(72, 216, 0);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    gap: 10px;
}
.mark-imp{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    font-size: 20px;
    background-color: var(--tri1);
}
.mark-imp input{
    width: 20px;
    height: 20px;
}
.mark-imp label{
    color: white;
    background-color: var(--tri1);
}