* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 180vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

#nav {
    padding: 2vw 2vw;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #5d3636; */

}

#nav img {
    padding: 18px;
    height: 200px;
    width: 230px;

}

#nav-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#nav-2 h4 {
    padding: 10px 20px;
    border: 1px solid #848383e2;
    border-radius: 50px;
    position: relative;
    overflow: hidden;

}

#nav-2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    overflow: hidden;
}

#nav-2 h4:hover::after {
    bottom: 0;
    transition: all 0.3s ease;
    border-radius: 0;
    color: azure;
}

#nav-2 h4 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    z-index: 9;
    position: relative;
}

#nav-2 h4:hover a {
    color: azure;
    transition: all 0.3s ease;
}

#slogan {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}

#slogan #right-side {
    height: 100%;
    width: 50%;


}

#slogan #left-side {
    height: 100%;
    width: 50%;

}

#slogan #right-side h2 {
    color: #040202;
    font-size: 2.2rem;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 100px;
    /* gap: 100px; */
}

#slogan #right-side h3 {
    color: #0d0808;
    font-size: 1.5rem;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 100px;

}

#slogan #left-side h1 {
    color: #180e0ec4;
    font-size: 6.5rem;
    padding-right: 25px;
    padding-left: 200px;
    padding-top: 40px;
}

#page1 video {
    position: relative;
    margin-top: 4vw;
    margin-left: 2vw;
    /* margin-right: 2vw; */
    width: 190%;
    border-radius: 50px;

}

#hero-design {
    position: absolute;
    height: 56vh;
    width: 56vh;
    background-color: #3eba00dc;
    border-radius: 50%;
    right: 17vh;
    top: 64vh;
    filter: blur(20px);
}

#hero1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #3eba00;
    border-radius: 50%;
    filter: blur(20px);
}


#hero2 {
    position: absolute;
    height: 33vw;
    width: 33vw;
    background-color: #3eba00cd;
    border-radius: 50%;
    /*     filter: blur(20px); */
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}



#hero3 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #3eba00c1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: blur(20px);
    animation-name: anime2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;



}

@keyframes anime1 {
    from {
        transform: translate(-20%, 20%);
    }

    to {
        transform: translate(20%, -20%);
    }

}

@keyframes anime2 {
    from {
        transform: translate(-20%, 10%);
    }

    to {
        transform: translate(20%, -10%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #92878750;

}

/* moving container */

#mooving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#mooving-text::-webkit-scrollbar {
    display: none;
}

/* container */

.con {
    display: inline-block;
    white-space: nowrap;
    animation: move 4s linear infinite;
}

/* text */

.con h1 {
    display: inline-block;
    font-size: 9vw;
    margin-right: 30px;
}

/* dot */

.gola {
    margin: 1vw 2vw;
    height: 40px;
    width: 40px;
    background: #3eba00;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
}

/* animation */

@keyframes move {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

#page2-item {
    height: 70vh;
    width: 100%;
    /* background-color: #d9090950; */
    display: flex;
    align-items: center;

    justify-content: space-between;
}

#box1 {
    height: 75%;
    width: 45%;
    /*  background-color: #3eba00; */
    border-radius: 20px;
    margin-left: 5vw;
}

#box1 img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#box2 {
    height: 45%;
    width: 40%;
    /*  background-color: #3eba00; */
    border-radius: 20px;
    margin-right: 5vw;
    margin-left: 20px;

}

#box2 h2 {
    color: #000000;
    font-size: 1.5rem;
    padding: 50px;
}

#box2 h4 {
    color: #000000;
    font-size: 1.2rem;
    padding-left: 50px;
}





#dj3 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #3eba00de;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 220vh;
    left: 650px;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #a50909b9;


}